
*.xcworkspacedata
*.xcuserstate
*.xcscheme
ZhiXiangJiaSwift/ZhiXiangJiaSwift/Helpers/NetWork/.DS_Store
ZhiXiangJiaSwift/ZhiXiangJiaSwift/Helpers/.DS_Store
*.pbxproj
ZhiXiangJiaSwift/Pods/.DS_Store
ZhiXiangJiaSwift/.DS_Store
.DS_Store
